p {
  font-family: Lato;
}
.example-spacer {
  flex: 1 1 auto;
}
.searchbox {
  max-width: 0px;
  overflow-x: hidden;
  transition: ease-in-out 400ms max-width;
}

.searchbox.opened {
  max-width: 500px;
  transition: ease-in-out 400ms max-width;
}

input.searchbox {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #263238;
  padding: 12px;
  font-size: 16px;
  color: whitesmoke;
}

.searchbox:focus {
  outline: none;
}
