<div class="editorcontainer" [ngClass]="(islight? 'gy-light-theme' : 'gy-dark-theme')">
    <!-- <mat-toolbar>
        <span>ADMIN</span>
        <span class="example-spacer"></span>
        <button class="example-icon" mat-icon-button aria-label="Example icon button with a heart icon"
            (click)="islight = !islight">
            <mat-icon>{{islight? 'brightness_2' : 'brightness_5'}}</mat-icon>
        </button>
    </mat-toolbar> -->
    <div class="col-xl-12 row">
        <div class="col-xl-4">
            <mat-form-field class="w-100">
                <mat-label>Post Title</mat-label>
                <input matInput [(ngModel)]="post.title">
                <mat-error *ngIf="post.title == ''">
                    Post Title is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Title Image Url</mat-label>
                <input matInput [(ngModel)]="post.imageurl">
                <mat-error *ngIf="post.imageurl == ''">
                    Title Image Url is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let tag of post.tags" [selectable]="true" [removable]="true"
                        (removed)="remove(tag)">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New fruit..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
            <mat-checkbox class="example-margin" color="primary" [(ngModel)]="post.exclusive">Is Exclusive?</mat-checkbox>
            <div class="mt-10 pull-right">
                <button mat-fab color="warn" class="mx-10"
                    aria-label="Example icon button with a vertical three dot icon" (click)="post.htmlcontent = ''">
                    <mat-icon>close</mat-icon>
                </button>

                <button mat-fab color="primary" class="mx-10"
                    aria-label="Example icon button with a vertical three dot icon" (click)="savehtml()">
                    <mat-icon>save</mat-icon>
                </button>

                <button type="submit" mat-fab color="primary" class="mx-10"
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-xl-8">
            <div [froalaEditor]="imgOptions" [(froalaModel)]="post.htmlcontent" class="border"
                [ngClass]="{'border border-danger': post.htmlcontent == ''}"></div>
            <mat-error *ngIf="post.htmlcontent == ''">
                *Content can-t be empty!
            </mat-error>
        </div>
    </div>
    <!-- <form #form (ngSubmit)="uploadpost()" class="example-form">
        <mat-form-field class="w-100">
            <mat-label>Post Title</mat-label>
            <input matInput [(ngModel)]="post.title" [formControl]="posttitleFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="posttitleFormControl.hasError('required')">
                Post Title is required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Title Image Url</mat-label>
            <input matInput [(ngModel)]="post.imageurl" [formControl]="titleimageurlFormControl"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="titleimageurlFormControl.hasError('required')">
                Title Image Url is required!
            </mat-error>
        </mat-form-field>

        <div [froalaEditor]="imgOptions" [(froalaModel)]="post.htmlcontent" class="border"
            [ngClass]="{'border border-danger': post.htmlcontent == ''}"></div>

        <mat-error *ngIf="post.htmlcontent == ''">
            *Content can-t be empty!
        </mat-error>

        <div class="mt-10 pull-right">
            <button mat-fab color="warn" class="mx-10" aria-label="Example icon button with a vertical three dot icon"
                (click)="post.htmlcontent = ''">
                <mat-icon>close</mat-icon>
            </button>

            <button mat-fab color="primary" class="mx-10"
                aria-label="Example icon button with a vertical three dot icon" (click)="savehtml()">
                <mat-icon>save</mat-icon>
            </button>

            <button type="submit" mat-fab color="primary" class="mx-10"
                aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>cloud_upload</mat-icon>
            </button>
        </div>
    </form> -->
    <br>
    <!-- <button mat-raised-button aria-label="Example icon button with a vertical three dot icon"
        (click)="showcode = !showcode">
        <span class="pr">HTML Code</span>
        <mat-icon>{{showcode?'visibility_off' : 'visibility'}}</mat-icon>
    </button> -->

    <!-- <div *ngIf="showcode">
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea [(ngModel)]="post.htmlcontent" matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </div> -->
    <!-- <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    <button mat-raised-button (click)="stop()">Stop</button>
    <button mat-raised-button (click)="play()">Play</button> -->
</div>