.html {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f1f1f1;
    min-height: 20px;
    max-height: 10rem;
    overflow: auto;
  }

.editorcontainer {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }
.text-center{
    text-align: center;
}

.pull-right {
    align-self: flex-end;
}

.d-flex {
    display: flex;
}

.pr {
    padding-right: 10px;
}

.pl {
    padding-left: 10px;
}

.example-full-width {
    width: 100%;
  }
//   .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }

.button-group {
    margin-top: 10px;
    margin-bottom: 10px;
}