<div class="thin-custom-scrollbar home-container gy-light-theme" [class.mx-100]="!isMobile">
    <div class="col-xl-12 row m-0 py-20">
        <div class="col-xl-7">
            <div *ngFor="let post of posts;">
                <mat-card class="example-card mt-20 pb-0 my-class-with-custom-shadow mat-elevation-z2"
                    *ngIf="posts.length">
                    <div class="row">
                        <div class="col-xl-8">
                            <mat-card-title class="text-oneline pointer" (click)="setpost(post)">{{post.title}}
                            </mat-card-title>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-subtitle>
                                    <span>{{post.createdstamp | date}}</span>
                                    <button mat-icon-button aria-label="Example icon button with a home icon"
                                        (click)="post.bookmarked = !post.bookmarked">
                                        <mat-icon inline=true>{{(post.bookmarked)?'bookmark':'bookmark_border'}}
                                        </mat-icon>
                                    </button>
                                    <button mat-icon-button [matMenuTriggerFor]="overflowMenu"
                                        aria-label="Example icon button with a home icon">
                                        <mat-icon inline=true>more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #overflowMenu="matMenu" [overlapTrigger]="false">
                                        <button mat-menu-item><span>Dismiss this story</span></button>
                                        <button mat-menu-item><span>Mute this author</span></button>
                                        <button mat-menu-item><span>Mute this publication</span></button>
                                        <button mat-menu-item><span>Report this story</span></button>
                                        <button mat-menu-item><span>Block this author</span></button>
                                    </mat-menu>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </div>
                        <div class="col-xl-4">
                            <img mat-card-image class="bg-white pointer mb-0 card-image" (click)="setpost(post)"
                                src="{{post.imageurl}}" alt="Photo of a Shiba Inu">
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-xl-5">
            <div *ngFor="let post of posts;">
                <!-- <img src="{{post.imageurl}}" alt="Photo of a Shiba Inu" > -->
                <mat-card class="example-card mt-20 pb-0 my-class-with-custom-shadow mat-elevation-z2">
                    <img mat-card-image class="bg-white pointer" (click)="setpost(post)" src="{{post.imageurl}}"
                        alt="Photo of a Shiba Inu">
                    <mat-card-title class="text-oneline pointer" (click)="setpost(post)">{{post.title}}</mat-card-title>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-subtitle>
                            <span>{{post.createdstamp | date}}</span>
                            <!-- <span class="example-spacer"></span> -->
                            <button mat-icon-button aria-label="Example icon button with a home icon"
                                (click)="post.bookmarked = !post.bookmarked">
                                <mat-icon inline=true>{{(post.bookmarked)?'bookmark':'bookmark_border'}}</mat-icon>
                            </button>
                            <button mat-icon-button [matMenuTriggerFor]="overflowMenu"
                                aria-label="Example icon button with a home icon">
                                <mat-icon inline=true>more_horiz</mat-icon>
                            </button>
                            <mat-menu #overflowMenu="matMenu" [overlapTrigger]="false">
                                <button mat-menu-item><span>Dismiss this story</span></button>
                                <button mat-menu-item><span>Mute this author</span></button>
                                <button mat-menu-item><span>Mute this publication</span></button>
                                <button mat-menu-item><span>Report this story</span></button>
                                <button mat-menu-item><span>Block this author</span></button>
                            </mat-menu>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>