.editorcontainer {
    padding-left: 10px;
    padding-right: 10px;
}

.example-card {
    max-width: 100%;
    // margin-left: 10px;
    // border: 1px solid red;
  }
  .d-flex{
    display: flex;
  }
  .example-header-image {
    background-image: url('../../assets/images/png/komodo_black.png');
    background-size: cover;
    background-color: black;
  }
.maingrid { grid-area: main; }
.sidegrid { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main main main main right right right right right';
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mat-grid-tile .mat-figure {
  justify-content: left !important;
}
.text-oneline {
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.mat-card-image {
  height: 170px;
  object-fit: cover;
}
.example-spacer {
  flex: 1 1 auto;
}
.pointer{
    cursor: pointer;
}