@import '~@angular/material/theming';
.my-class-with-custom-shadow {
  // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
  @include mat-elevation(20, #0000001a, 0.3);
}
.my-class {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(8, #e91e63, 0.8);
  }
}
.home-shadow{
  @include mat-elevation(8, #e91e63, 0.8);
}
.home-container {
    // height: 100%;
    // overflow: auto;
    min-height: 100%;
}

.example-card {
    max-width: 100%;
    // margin-left: 10px;
    // border: 1px solid red;
  }
  .d-flex{
    display: flex;
  }
  .example-header-image {
    background-image: url('../../assets/images/png/komodo_black.png');
    background-size: cover;
    background-color: black;
  }
.maingrid { grid-area: main; }
.sidegrid { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main main main main right right right right right';
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mat-grid-tile .mat-figure {
  justify-content: left !important;
}
.text-oneline {
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.mat-card-image {
  height: 170px;
  object-fit: cover;
}
.example-spacer {
  flex: 1 1 auto;
}
.pointer{
    cursor: pointer;
}
.mat-fab-bottom-right{
  // background-color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
  // color: black;
}
.mat-fab-bottom-right.open {
  animation: rotate .5s ease-in-out 0s;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
}