.home-container {
    height: 100%;
    overflow: auto;
}

.example-card {
    max-width: 100%;
    // margin-left: 10px;
    // border: 1px solid red;
  }
  .d-flex{
    display: flex;
  }
  .example-header-image {
    background-image: url('../../assets/images/png/komodo_black.png');
    background-size: cover;
    background-color: black;
  }
.maingrid { grid-area: main; }
.sidegrid { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main main main main right right right right right';
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mat-grid-tile .mat-figure {
  justify-content: left !important;
}
.text-oneline {
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.mat-card-image {
  height: 170px;
  object-fit: cover;
}
.example-spacer {
  flex: 1 1 auto;
}
.pointer{
    cursor: pointer;
}
.searchbox {
  max-width: 0px;
  overflow-x: hidden;
  transition: ease-in-out 400ms max-width;
}

.searchbox.opened {
  max-width: 500px;
  transition: ease-in-out 400ms max-width;
}

input.searchbox {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #263238;
  padding: 12px;
  font-size: 16px;
  color: whitesmoke;
}

.searchbox:focus {
  outline: none;
}
.mat-fab-bottom-right{
  // background-color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
  // color: black;
}
.mat-fab-bottom-right.open {
  animation: rotate .5s ease-in-out 0s;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); }
}