<!-- <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let post of posts">
        <mat-card class="mx-10">
            <mat-card-header>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>Posted @ {{post.createdstamp | date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{post.imageurl}}" alt="Photo of a Shiba Inu" height="160">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>EDIT</button>
                <button mat-button (click)="setpost(post)">VIEW</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
<!-- <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile *ngFor="let post of posts" role="listitem"> -->
<mat-grid-list cols="4" rowHeight="2:1">
    <div *ngFor="let post of posts">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <h2 class="text-left">{{post.title}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"><img src="{{post.imageurl}}" alt="Photo of a Shiba Inu" height="100">
        </mat-grid-tile>
    </div>
</mat-grid-list>
<!-- <h2>{{post.title}}</h2> -->
<!-- </mat-grid-tile>
</mat-grid-list> -->
<div *ngIf="showlist" class="editorcontainer d-flex">
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile *ngFor="let post of posts" role="listitem">
            <div class="col-xl-12">
                <div class="col-xl-9">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="col-xl-3">
                    <img src="{{post.imageurl}}" alt="Photo of a Shiba Inu" height="160">
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- <mat-list role="list">
        <mat-list-item *ngFor="let post of posts" role="listitem">
            <div class="col-xl-12">
                <div class="col-xl-9">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="col-xl-3">
                    <img src="{{post.imageurl}}" alt="Photo of a Shiba Inu" height="160">
                </div>
            </div>
        </mat-list-item>
    </mat-list> -->
</div>
<div *ngIf="!showlist" class="editcontainer">
    <button mat-raised-button aria-label="Example icon button with a vertical three dot icon"
        (click)="showlist = !showlist;html = '';">
        <mat-icon>arrow_back</mat-icon>
        <span style="padding-left: 10px;">Back</span>
    </button>
    <div [innerHTML]="html">

    </div>
</div>